<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>




<a href="/">Strona główna</a>

<a th:href="@{/clients/menu}">Menu</a>
<a th:href="@{/clients/add}">Złóż zamówienie</a>
<a th:href="@{/clients/opinions}">Opinie</a>
<a href="/">Zaloguj się</a>



<h1  class="start">Czar Sztućców</h1>
<div class ="banner">
    <h1>Witamy w Restauracji Czar Sztućców!</h1>
</div>
<div class="content">
    <h2>Wyjątkowe smaki na każdą okazję</h2>
    <p>Zapraszamy na niezapomniane kulinarne doznania! Oferujemy świeże, lokalne składniki i dania, które pokochasz.</p>
    <p>Rezerwuj stolik już dziś i poczuj magię naszej kuchni!</p>
</div>



</body>
</html>