<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Czar Sztućców</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>

<header>


    <a th:href="@{/clients/start}">Strona główna</a>
    <a href="/">Menu</a></li>
  <a th:href="@{/clients/add}">Złóż zamówienie</a>
    <a th:href="@{/clients/opinions}">Opinie</a>
    <a href="/">Zaloguj się</a>


</header>

<h1 style="text-align: center;">Menu Restauracji Czar Sztućców</h1>
<table>
  <thead>
  <tr>
    <th>Potrawa</th>
    <th>Cena</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Zupa pomidorowa</td>
    <td>12,99 zł</td>
  </tr>
  <tr>
    <td>Rosół z makaronem</td>
    <td>14,50 zł</td>
  </tr>
  <tr>
    <td>Krem z brokułów</td>
    <td>16,00 zł</td>
  </tr>
  <tr>
    <td>Sałatka grecka</td>
    <td>18,00 zł</td>
  </tr>
  <tr>
    <td>Kotlety schabowe z ziemniakami</td>
    <td>22,99 zł</td>
  </tr>
  <tr>
    <td>Filet z kurczaka w sosie śmietanowym</td>
    <td>24,50 zł</td>
  </tr>
  <tr>
    <td>Gulasz wołowy z kluskami śląskimi</td>
    <td>28,00 zł</td>
  </tr>
  <tr>
    <td>Lasagne bolognese</td>
    <td>26,99 zł</td>
  </tr>
  <tr>
    <td>Pizza Margherita</td>
    <td>21,00 zł</td>
  </tr>
  <tr>
    <td>Pizza Pepperoni</td>
    <td>24,00 zł</td>
  </tr>
  <tr>
    <td>Makaron carbonara</td>
    <td>23,00 zł</td>
  </tr>
  <tr>
    <td>Makaron z sosem pesto</td>
    <td>21,50 zł</td>
  </tr>
  <tr>
    <td>Ryba po grecku</td>
    <td>27,00 zł</td>
  </tr>
  <tr>
    <td>Smażony dorsz z frytkami</td>
    <td>28,50 zł</td>
  </tr>
  <tr>
    <td>Tatar wołowy</td>
    <td>30,00 zł</td>
  </tr>
  <tr>
    <td>Stek z rostbefu z ziemniakami</td>
    <td>38,00 zł</td>
  </tr>
  <tr>
    <td>Krewetki w sosie czosnkowym</td>
    <td>32,00 zł</td>
  </tr>
  <tr>
    <td>Sushi zestaw (8 kawałków)</td>
    <td>39,99 zł</td>
  </tr>
  <tr>
    <td>Burgery (wołowy, drobiowy, wegetariański)</td>
    <td>26,00 zł</td>
  </tr>
  <tr>
    <td>Naleśniki z dżemem i bitą śmietaną</td>
    <td>14,50 zł</td>
  </tr>
  </tbody>
</table>
</body>
</html>